[Unit]
Description=MicroK8s Dashboard Proxy
After=network.target

[Service]
ExecStart=/snap/bin/microk8s dashboard-proxy --token
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
